 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>After serving as the Nevada State Data Director for President Obama's Campaign in 2011 &#38; 2012, I founded and successfully bootstrapped a technology startup, <a href="http://politech.io" style="color:rgb(7,15,25)">Politech</a>. Under my leadership <a href="http://politech.io" style="color:rgb(7,15,25)">Politech</a> established a high growth business and created and launched <a href="http://blocks.im" style="color:rgb(7,15,25)">Politech</a>, an innovative software platform for political organizations, issue advocacy campaigns, nonprofits, and corporations. In early 2017, after 4+ years of leading Politech I acheived a successful exit.</p>
                </div>
                <div class="col-lg-4">
                    <p>I graduated from <a href="http://www.american.edu/" style="color:rgb(7,15,25)">American University</a> with a B.A. in Political Science and a minor in Economics. Since then I have established myself as executive and leader in both technology and politics. I have utilized my skills to innovate new technologies, win elections, and craft data-driven solutions to complex problems. I have successfully founded a technology startup and have lead teams of data scientists, analysts, and software engineers.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/assets/chris_coger-resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View Resume
                    </a>
                </div>
            </div>
        </div>
    </section>